.CardList {
  display: flex;
}

.CardList__item {
}

.CardList__item:nth-of-type(2n) > * {
  color: var(--color-very-light-gray);
  background: var(--gradient);
  transform: scale(1.1);
}

.CardList__item:nth-of-type(2n) > * > h2 {
  color: #fff;
}

.CardList__item:nth-of-type(2n) > * > button {
  color: var(--color-purple);
  background: #fff;
}

.CardList__item:nth-of-type(2n) > * > button:hover {
  color: #fff;
  background: var(--gradient);
}

@media screen and (max-width: 992px) {
  .CardList {
    flex-direction: column;
  }

  .CardList__item > * {
    margin: 0 auto;
  }

  .CardList__item:nth-of-type(2n) > * {
    transform: unset;
    margin: 3.2rem auto;
  }
}
