.PricingContainer {
  display: flex;
  flex-direction: column;
  place-content: center;
  margin-top: -4rem;
}

.PricingContainer h1 {
  font-size: 3.5rem;
  color: var(--color-gray);
}

@media screen and (max-width: 992px) {
  .PricingContainer {
    margin: 7rem auto;
  }
}
