.App {
  text-align: center;
  min-height: 100vh;
  position: relative;
  display: flex;
  place-content: center;
  background: url(/src/images/bg-top.svg) top right,
    url(/src/images/bg-bottom.svg) bottom left, var(--color-very-light-gray);
  background-repeat: no-repeat;
}
